<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<style>
      #search-demo-container {
        max-width: 40em;
        padding: 1em;
        margin: 1em auto;
        border: 1px solid lightgrey;
      }
      #search-input {
        display: inline-block;
        padding: .5em;
        width: 100%;
        font-size: 0.8em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
</style>

<!-- end custom head snippets -->
